In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV
from sklearn.tree import DecisionTreeClassifier, plot_tree

import warnings
warnings.filterwarnings("ignore")

In [29]:
df = pd.read_csv('Glass.csv')
df.head()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,building_windows_float_processed
1,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,building_windows_float_processed
2,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,building_windows_float_processed
3,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,building_windows_float_processed
4,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,building_windows_float_processed

In [30]:
le = LabelEncoder()
df['Type'] = le.fit_transform(df['Type'])
df.sample(5)

          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe  Type
194  1.51683  14.56  0.00  1.98  73.29  0.00   8.52  1.57  0.07     3
156  1.51655  13.41  3.39  1.28  72.64  0.52   8.65  0.00  0.00     5
147  1.51610  13.33  3.53  1.34  72.67  0.56   8.33  0.00  0.00     5
48   1.52223  13.21  3.77  0.79  71.99  0.13  10.02  0.00  0.00     0
201  1.51653  11.95  0.00  1.19  75.18  2.70   8.93  0.00  0.00     3

In [38]:
X = df.drop('Type', axis=1)
y = df['Type']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

In [34]:
params = {'max_depth': [2, 5, 7, 10, 13, None], 'min_samples_split': [2, 5, 7, 10, 13], 'min_samples_leaf': [1, 5, 7, 10, 13]} 

dtc = DecisionTreeClassifier(random_state=24)
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=24)

# gcv = GridSearchCV(dtc, param_grid=params, cv=kfold)
gcv = GridSearchCV(dtc, param_grid=params, cv=kfold, scoring='neg_log_loss')
gcv.fit(X, y)

print(gcv.best_params_)
print(gcv.best_score_)

{'max_depth': 2, 'min_samples_leaf': 5, 'min_samples_split': 2}
-1.8636519303042316