In [1]:
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold, KFold
from sklearn.tree import ExtraTreeClassifier
from sklearn.metrics import accuracy_score, log_loss, classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import BaggingClassifier

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('HR_comma_sep.csv', sep=',')
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.10,0.77,6,247,4,0,1,0,sales,low
3,0.92,0.85,5,259,5,0,1,0,sales,low
4,0.89,1.00,5,224,5,0,1,0,sales,low

In [3]:
dum_hr = pd.get_dummies(df, drop_first=True)
dum_hr.head(2)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department_RandD,Department_accounting,Department_hr,Department_management,Department_marketing,Department_product_mng,Department_sales,Department_support,Department_technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,False,False,False,False,False,False,True,False,False,True,False
1,0.80,0.86,5,262,6,0,1,0,False,False,False,False,False,False,True,False,False,False,True

In [4]:
X = dum_hr.drop('left', axis=1)
y = dum_hr['left']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

In [6]:
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=24)
ex = ExtraTreeClassifier(random_state=24)

params = {'max_features': [3,4,5]}
gcv = GridSearchCV(ex, param_grid=params, cv=kfold, verbose=3, scoring='neg_log_loss')
gcv.fit(X, y)
print(gcv.best_params_)
print(gcv.best_score_)

Fitting 5 folds for each of 3 candidates, totalling 15 fits
[CV 1/5] END ...................max_features=3;, score=-1.562 total time=   0.0s
[CV 2/5] END ...................max_features=3;, score=-1.550 total time=   0.0s
[CV 3/5] END ...................max_features=3;, score=-1.094 total time=   0.0s
[CV 4/5] END ...................max_features=3;, score=-1.082 total time=   0.0s
[CV 5/5] END ...................max_features=3;, score=-0.937 total time=   0.0s
[CV 1/5] END ...................max_features=4;, score=-1.334 total time=   0.0s
[CV 2/5] END ...................max_features=4;, score=-1.130 total time=   0.0s
[CV 3/5] END ...................max_features=4;, score=-1.370 total time=   0.0s
[CV 4/5] END ...................max_features=4;, score=-1.406 total time=   0.0s
[CV 5/5] END ...................max_features=4;, score=-1.262 total time=   0.0s
[CV 1/5] END ...................max_features=5;, score=-1.202 total time=   0.0s
[CV 2/5] END ...................max_features=5;, score=-1.238 total time=   0.0s
[CV 3/5] END ...................max_features=5;, score=-1.142 total time=   0.0s
[CV 4/5] END ...................max_features=5;, score=-1.082 total time=   0.0s
[CV 5/5] END ...................max_features=5;, score=-1.214 total time=   0.0s
{'max_features': 5}
-1.1754149054537042